





<div class="jumbotron">
  <h1 class="title"></h1>



  </p>


  </div>




  <hr/>
  <div class="page-container-full panel-light">
    <div class="page-container-responsive">
      <div class="row space-top-4"></div>
      <div class="row space-8 space-top-8">
            <div class="col-sm-12 text-Left">
              <h2 class="space-4">
            FF果汇
              </h2>
            </div>
            <div class="col-sm-10 text-center-sm col-center">
              <p>
                FF果汇（fresh fruit水果汇）是一个以东南亚水果经销为主，各种水果主题线路旅游体验，并结合线上网站，开展一站式鲜果采购的团队 ，我们的变革，不仅仅是从线上到线下，更主要的是我们希望让更多的朋友，在收获阳光，鲜美之后，能够体验各种水果背后的文化，为此，我们正在寻找各种优秀的人们，来吧！加入BD果汇，我们一起努力工作，一起大声欢笑，不断集思广益。我们每个星期使用无数便条，每天都是击掌庆祝的好日子。
              </p>
            </div>
          </div>

      <div class="row space-8 space-top-4 text-center">
        <div class="col-sm-12 col-lg-10 col-center">
          <div class="row space-8">
            <div class="col-md-6 col-sm-12">
              <div class="panel-body">
                <table class="table table-boldered" >
                  <tr>
                <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                  摄影师</a>
                </h3>
                <p>
                  热爱生活，具备合作精神丶熟悉摄影技巧丶对美食有一种狂热的心丶了解水果丶善于倾听。可以提供建设性的水果文化展示方式，善于解决困难丶考虑周全丶为人谦虚。
                </p></th>
                <th><div class="media-photo">
                  <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww3.sinaimg.cn/large/006tNc79jw1fc51v6ugpxj30nq0g2gq3.jpg" />
                </div></th>
              </tr>
            </table>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="panel-body">
                <table class="table table-boldered" >
                  <tr>
                <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                体验官</a>
                </h3>
                <p>
                  熟悉东南亚水果丶能够调配出各种水果组合饮品丶拥有良好的写作能力丶善于倾听和吸收新鲜的知识。愿意为其他人发声和解决困难丶考虑周全丶为人谦虚。
                </p></th>
                <th><div class="media-photo">
                  <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww1.sinaimg.cn/large/006y8lVagy1fc5ovbn9gfj30ye0m4qv5.jpg" />
                </div></th>
              </tr>
            </table>
              </div>
            </div>
          </div>
          <div class="row space-8 space-top-8 text-center">

          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                水果导游师</a>
              </h3>
              <p>
                熟悉东南亚旅游线路丶了解当地风土人情丶喜欢各种水果丶能够适应出差生活丶有国际导游资格证。愿意为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww3.sinaimg.cn/large/006tNc79gy1fc5mkiprdcj30ue0kau07.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                吃货达人</a>
              </h3>
              <p>
                喜欢各种美食丶善于表达描述各种食物的区别丶热爱纯天然的新鲜水果丶能够不断寻找优良的水果产地丶擅长社交并能挖掘潜在用户。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww1.sinaimg.cn/large/006y8lVajw1fc665d8xhyj30w60o4tfv.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                采购员</a>
              </h3>
              <p>
                熟悉鲜果采购流程丶了解冷链物流丶善于商务谈判丶待人真诚丶正直果敢。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww1.sinaimg.cn/large/006tNc79gy1fc5n6bg87tj30me0eowz7.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                网络运营</a>
              </h3>
              <p>
                能够独挡一面丶熟悉网站运营推广丶了解水果配送供应链系统丶待人真诚丶善于倾听。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww1.sinaimg.cn/large/006y8lVagy1fc5oqqrf37j30w80l8kjl.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                物流管理</a>
              </h3>
              <p>
                熟悉冷链丶善于处理运输环节衔接的各种问题丶擅长调配和运用各种运输工具节约运输成本丶待人真诚丶善于倾听。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww1.sinaimg.cn/large/006y8lVagy1fc5nxefgixj30ui0ji7wh.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                店长</a>
              </h3>
              <p>
                管理线下门店日常运营丶善于使用绩效规则引导店员完成门店销售任务丶熟悉各个时节水果上市规则丶善于挖掘周边社区潜在用户丶善于倾听。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww4.sinaimg.cn/large/006y8lVajw1fc66kfx6mkj30x40m0n74.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs">
                配送员</a>
              </h3>
              <p>
                熟悉当地城市道路丶熟练并能快速打包鲜果丶热爱生活丶待人真诚丶善于倾听。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww3.sinaimg.cn/large/006y8lVagy1fc5o27bafhj30rg0ic1kx.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="panel-body">
              <table class="table table-boldered" >
                <tr>
              <th><h3><a class="btn btn-lg btn-danger" href="/jobs/9">
                驻地合伙人</a>
              </h3>
              <p>
                热爱BD果汇丶了解热爱东南亚水果丶时刻作好准备丶拥有当地水果业务资源丶善于沟通。为其他人发声和解决困难丶考虑周全丶为人谦虚。
              </p></th>
              <th><div class="media-photo">
                <img alt="1-main-large-5c6ba7d29406425d92f7225394653d82" class="img-responsive" src="https://ww4.sinaimg.cn/large/006y8lVajw1fc6634f94mj30p20gqaj0.jpg" />
              </div></th>
            </tr>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<hr>
  <section class="page-container-full text-contrast text-center background-beach">
    <div class="page-container-responsive">
      <div class="row space-4 space-top-8">
        <div class="col-12">
          <div class="cultureContent">
            <h2 class="jobs-header-text">
              马上就去申请，体验不一样的生活
            </h2>
          </div>
        </div>
      </div>
      <div class="row space-4">
        <div class="col-4">
          <ul class="list-unstyled">
            <li class="space-2">
              全面的医疗保障
            </li>
            <li class="space-2">
              水果都是免费的
            </li>
            <li class="space-2">
              学习的文化
            </li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="list-unstyled">
            <li class="space-2">
              员工福祉
            </li>
            <li class="space-2">
              年度旅行基金
            </li>
            <li class="space-2">
              增进亲子关系/生育程序
            </li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="list-unstyled">
            <li class="space-2">
              带薪年休
            </li>
            <li class="space-2">
              联谊聚会
            </li>
            <li class="space-2">
            志愿工作
            </li>
          </ul>
        </div>
      </div>
      <div class="row space-8">
        <div class="col-center col-4">
          <a class="btn btn-lg btn-danger" href="#" data-toggle="modal" data-target="#signup-modal">
            今天就申请加入我们
          </a>
        </div>
      </div>
    </div>
  </section>
<hr/>
<em>
  <div class="page-container-responsive">
  <div class="row text-center space-4 space-top-2">
    <div class="col-md-4">
      <div class="panel-body">
            <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc3l8a477lj302i02i0sj.jpg" alt="search" class = "img-thhumbnail">
            <h4>
            体验
          </h4>
          <p>
            我们的团队提供最棒的工作体验。
          </p>
        </div>
      </div>
      <div class="col-md-4">
      <div class="panel-body">
            <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc3mqh5rxhj302i02idfo.jpg" alt="bid" class = "img-thhumbnail">
            <h4>
          成长
        </h4>
        <p>
        不需要迷茫，在这里成长总是一件很美好的事情。
        </p>
      </div>
    </div>
    <div class="col-md-4">
    <div class="panel-body">
            <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc3mvleevoj302i02i743.jpg" alt="heart" class = "img-thhumbnail">
            <h4>
          玩乐
        </h4>
        <p>
          我们常在忙碌工作中忘记生活的乐趣，在这里我们肯定您能乐在其中。
        </p>
      </div>
    </div>
  </div>
</div>
    </div>
  </section>
</em>
